.navbar-search {
  padding: 0 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-home {
  min-width: 150px;
  border: 1px solid transparent;
  background-color: transparent;
  text-decoration: none;
  &:hover {
    border-color: rgb(23, 23, 23, 0.1);
    background-color: rgb(255, 255, 255, 0.1);
  }
  img {
    max-height: 40px;
    max-width: 100%;
    margin-right: 0.5rem;
  }
  strong {
    font: var(--font-ui-bold);
    align-self: center;
  }
}
