
@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";
/* Lume's design system */
/* Custom components */
.navbar {
  background-color: var(--color-background);
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  justify-content: space-between;
  padding: 2rem min(5vw, 5rem);
  align-items: center;
}
.navbar-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font: var(--font-ui-bold);
  align-items: center;

  & [aria-current="page"] {
    text-decoration: none;
  }
}
.navbar-search {
  padding: 0 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-banner {
  display: flex;
  flex: 1 1 auto;
}
.navbar-home {
  display: flex;
  min-width: 150px;
  border: 1px solid transparent;
  background-color: transparent;
  text-decoration: none;
  &:hover {
    border-color: rgb(23, 23, 23, 0.1);
    background-color: rgb(255, 255, 255, 0.1);
  }
  img {
    max-height: 40px;
    max-width: 100%;
    margin-right: 0.5rem;
  }
  strong {
    font: var(--font-ui-bold);
    align-self: center;
  }
}
.page-header {
  margin-bottom: var(--row-gap-small);

  & > p:first-child {
    margin-top: 0;
  }
}
.page-title {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0;
  text-wrap: balance;
  color: var(--color-base);
}
.page-navigation {
  margin-bottom: var(--row-gap-medium);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  & h2 {
    font: var(--font-body-bold);
    letter-spacing: var(--font-body-spacing);
    margin: 0.5em 0;
  }
}
.page-pagination {
  border-top: solid 1px var(--color-line);
  margin-top: var(--row-gap-medium);
}
.postList {
  list-style: none;
  padding: 0;

  & article.post + article.post {
    margin-top: var(--row-gap-medium);
  }
  & li.post + li.post {
    margin-top: var(--row-gap-small);
  }

  & .post-header {
    margin-bottom: var(--row-gap-xsmall);
  }

  & .post-details {
    font: var(--font-small);
  }

  & .post-title {
    font: var(--font-title);
    letter-spacing: var(--font-title-spacing);
    display: block;

    & a {
      text-decoration: none;
    }
  }
}
.post-header {
  margin-bottom: var(--row-gap-small);
}
.post-title {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0 0 0.2em;
  text-wrap: balance;
  color: var(--color-base);
}
.post-details {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1em;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  align-items: center;
  font: var(--font-small);
  color: var(--color-dim);

  & p {
    margin: 0;
  }

  & p:nth-child(-n+2)::after {
    content: "•";
    padding-left: 0.5em;
    align-self: stretch;
  }

  & p:last-of-type {
    margin-right: 0.5em;
  }

  & a {
    color: inherit;
  }
}
.post-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  align-items: center;
}
.post-link {
  display: inline-block;
}
.comments-section {
  margin-top: 5em;
}
.comments-header {
  & h2 {
    font: var(--font-title);
    letter-spacing: var(--font-title-spacing);
    margin: 0;
    color: var(--color-base);
  }
  & p {
    font: var(--font-ui);
    color: var(--color-dim);
    margin: 0.5em 0;
  }
}
.comments {
  display: block;
  padding: 2em;
  margin-top: 2em;
  background: var(--color-highlight);
  border-radius: var(--border-radius);
  border: solid 1px var(--color-line);
  color: var(--color-dim);
  font: var(--font-small);

  @media (max-width: 450px) {
    margin-left: calc(-15vw / 2);
    margin-right: calc(-15vw / 2);
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: calc(15vw / 2);
  }

  & a {
    color: currentColor;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    container-type: inline-size;

    ul {
      margin-top: 2em;
      padding-top: 2em;
      border-top: solid 1px var(--color-line);
      margin-left: min(var(--indent), 10cqw);
    }
  }

  & li + li {
    margin-top: 2em;
    padding-top: 2em;
    border-top: solid 1px var(--color-line);
  }
  & article {
    max-width: 600px;
  }
  > ul {
    --avatar-size: clamp(32px, 10cqw, 50px);
    --indent: calc(var(--avatar-size) + 15px);
  }

  .comment-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 6px;
    float: left;
    margin-right: 14px;
    box-shadow: 0 0 1px #0009;
  }
  .comment-user {
    text-decoration: none;
    display: block;
    position: relative;
  }
  .comment-author {
    position: absolute;
    left: calc(var(--avatar-size) - 15px);
    top: calc(var(--avatar-size) - 15px);
    background: var(--color-highlight);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--color-primary);
  }
  .comment-user:hover .comment-username {
    text-decoration: underline;
  }
  .comment-username {
    margin-right: 0.5em;
    color: var(--color-text);
  }
  .comment-useraddress {
    font-style: normal;
  }
  .comment-time {
    font-size: small;
    display: flex;
    -moz-column-gap: 0.3em;
         column-gap: 0.3em;
    align-items: center;

    svg {
      width: 1em;
      height: 1em;
      fill: currentColor;
    }
  }
  .comment-address {
    color: currentColor;
    text-decoration: none;
    display: block;
    padding-left: var(--indent);
    margin-top: 0.2em;
  }
  .comment-address:hover {
    text-decoration: underline;
  }
  .comment-body {
    margin-top: 1em;
    margin-left: var(--indent);
    line-height: 1.5;

    .invisible {
      display: none;
    }
    .ellipsis::after {
      content: "…";
    }
    .mention {
      text-decoration: none;
      color: var(--color-text);

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .comment-body p {
    margin: 0.5em 0 0;
  }
  .comment-counts {
    display: flex;
    -moz-column-gap: 1em;
         column-gap: 1em;
    font-size: small;

    & svg {
      color: var(--color-primary);
    }
  }
  .comment-counts > span {
    display: flex;
    align-items: center;
    -moz-column-gap: 0.3em;
         column-gap: 0.3em;
  }
}
/*html {*/
/*  background: #111;*/
/*  height: 100%;*/
/*  color: #969696;*/
/*  font-family: Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, sans-serif;*/
/*}*/
/*body {*/
/*  position: relative;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*}*/
.error-banner {
  z-index: 1;
  position: relative;
  text-align: center;
  transform: translate3d(0, 0, 0);
}
.error-banner .error-404 {
  margin: 112px auto 2em;
  padding-left: 160px;
  display: inline-block;
  height: 112px;
  background-position: top left;
  animation: 0.5s ease-in-out fade-slide-left;
}
.error-banner .error-404, .error-banner .error-404:before, .error-banner .error-404:after {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  content: "";
}
.error-banner .error-404:before, .error-banner .error-404:after {
  width: 160px;
  height: 112px;
}
.error-banner .error-404:before {
  top: -38.6206896552px;
  margin-left: -90px;
  z-index: -1;
  background-position: top left;
  animation: 1s ease-in-out fade-slide-left;
}
.error-banner .error-404:after {
  top: -77.2413793103px;
  margin-left: -90px;
  z-index: -10;
  background-position: top left;
  animation: 1.5s ease-in-out fade-slide-left;
}
.error-banner .error-404 {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="159.8" height="89.5" viewBox="0 0 159.8 89.5"%3E%3Cpath fill="%231d2125" d="M60 0L40 11.2V33.6L20 22.4 0 33.6v22.3l60 33.6 39.9-22.3 39.9 22.3 20-11.2V56z"/%3E%3Cpath fill="%23969696" d="M60 5.2l-15.3 8.5L60 22.3l15.3-8.6L60 5.2M20 27.6L4.7 36.2 20 44.7l15.3-8.6L20 27.6M40 38.8l-15.3 8.5L40 55.9l15.3-8.6L40 38.8M79.9 16.4L64.6 25l15.3 8.6L95.1 25l-15.2-8.6M99.9 27.6l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M80 38.9l-15.3 8.5L80 56l15.3-8.6L80 38.9M119.9 38.9l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M60 50l-15.3 8.5L60 67.1l15.3-8.6L60 50M139.8 50l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5"/%3E%3C/svg%3E');
}
.error-banner .error-404:before {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="159.8" height="111.8" viewBox="0 0 159.8 111.8"%3E%3Cpath fill="%231d2125" d="M60 0L0 33.6v22.3l99.9 55.9 59.9-33.5V56z"/%3E%3Cpath fill="%23969696" d="M60 5.2l-15.3 8.5L60 22.3l15.3-8.6L60 5.2M40 16.5L24.7 25 40 33.5 55.3 25 40 16.5M20 27.6L4.7 36.2 20 44.7l15.3-8.6L20 27.6M40 38.8l-15.3 8.5L40 55.9l15.3-8.6L40 38.8M79.9 16.4L64.6 25l15.3 8.6L95.1 25l-15.2-8.6M99.9 27.6l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M119.9 38.9l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M60 50l-15.3 8.5L60 67.1l15.3-8.6L60 50M80 61.2l-15.3 8.5L80 78.3l15.3-8.6L80 61.2M139.8 50l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M119.8 61.2l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M99.9 72.4l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5"/%3E%3C/svg%3E');
}
.error-banner .error-404:after {
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="159.8" height="89.5" viewBox="0 0 159.8 89.5"%3E%3Cpath fill="%231d2125" d="M60 0L40 11.2V33.6L20 22.4 0 33.6v22.3l60 33.6 39.9-22.3 39.9 22.3 20-11.2V56z"/%3E%3Cpath fill="%23969696" d="M60 5.2l-15.3 8.5L60 22.3l15.3-8.6L60 5.2M20 27.6L4.7 36.2 20 44.7l15.3-8.6L20 27.6M40 38.8l-15.3 8.5L40 55.9l15.3-8.6L40 38.8M79.9 16.4L64.6 25l15.3 8.6L95.1 25l-15.2-8.6M99.9 27.6l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M80 38.9l-15.3 8.5L80 56l15.3-8.6L80 38.9M119.9 38.9l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5M60 50l-15.3 8.5L60 67.1l15.3-8.6L60 50M139.8 50l-15.3 8.5 15.3 8.6 15.3-8.6-15.3-8.5"/%3E%3C/svg%3E');
}
.title {
  width: 50vw;
  margin: auto;
  text-align: center;
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translate(28px, 15px);
  }
  50% {
    opacity: 0;
    transform: translate(28px, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* background */
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  background-image: linear-gradient(45deg, #000, #000 0.5%, #008f8c 0.5%, #008f8c 7.6%, #000 7.6%, #000 8.642857143%, #0fc2c0 8.642857143%, #0fc2c0 15.64285714%, #000 15.64285714%, #000 16.88571429%, #0caba8 16.88571429%, #0caba8 23.84285714%, #000 23.84285714%, #000 25%, transparent 25%), linear-gradient(-45deg, #000, #000 0.5%, #008f8c 0.5%, #008f8c 7.6%, #000 7.6%, #000 8.642857143%, #0fc2c0 8.642857143%, #0fc2c0 15.64285714%, #000 15.64285714%, #000 16.88571429%, #0caba8 16.88571429%, #0caba8 23.84285714%, #000 23.84285714%, #000 25%, transparent 25%), linear-gradient(45deg, transparent 73.85714286%, #000 73.85714286%, #000 75%, transparent 75%), linear-gradient(-45deg, transparent 73.85714286%, #000 73.85714286%, #000 75%, transparent 75%), linear-gradient(45deg, transparent 66.85714286%, #0caba8 66.85714286%, #0caba8 73.85714286%, transparent 73.85714286%), linear-gradient(-45deg, transparent 66.85714286%, #0caba8 66.85714286%, #0caba8 73.85714286%, transparent 73.85714286%), linear-gradient(45deg, transparent 65.71428571%, #000 65.71428571%, #000 66.85714286%, transparent 66.85714286%), linear-gradient(-45deg, transparent 65.71428571%, #000 65.71428571%, #000 66.85714286%, transparent 66.85714286%), linear-gradient(45deg, transparent 58.71428571%, #0fc2c0 58.71428571%, #0fc2c0 65.71428571%, transparent 65.71428571%), linear-gradient(-45deg, transparent 58.71428571%, #0fc2c0 58.71428571%, #0fc2c0 65.71428571%, transparent 65.71428571%), linear-gradient(45deg, transparent 57.57142857%, #000 57.57142857%, #000 58.71428571%, transparent 58.71428571%), linear-gradient(-45deg, transparent 57.57142857%, #000 57.57142857%, #000 58.71428571%, transparent 58.71428571%), linear-gradient(45deg, transparent 50.57142857%, #008f8c 50.57142857%, #008f8c 57.57142857%, transparent 57.57142857%), linear-gradient(-45deg, transparent 50.57142857%, #008f8c 50.57142857%, #008f8c 57.57142857%, transparent 57.57142857%), linear-gradient(45deg, transparent 49.42857143%, #000 49.42857143%, #000 50.57142857%, transparent 50.57142857%), linear-gradient(-45deg, transparent 49.42857143%, #000 49.42857143%, #000 50.57142857%, transparent 50.57142857%), linear-gradient(45deg, transparent 42.42857143%, #015958 42.42857143%, #015958 49.42857143%, transparent 49.42857143%), linear-gradient(-45deg, transparent 42.42857143%, #015958 42.42857143%, #015958 49.42857143%, transparent 49.42857143%), linear-gradient(45deg, transparent 41.28571429%, #000 41.28571429%, #000 42.42857143%, transparent 42.42857143%), linear-gradient(-45deg, transparent 41.28571429%, #000 41.28571429%, #000 42.42857143%, transparent 42.42857143%), linear-gradient(45deg, transparent 34.28571429%, #023535 34.28571429%, #023535 41.28571429%, transparent 41.28571429%), linear-gradient(-45deg, transparent 34.28571429%, #023535 34.28571429%, #023535 41.28571429%, transparent 41.28571429%), linear-gradient(45deg, transparent 33.142857143%, #000 33.142857143%, #000 34.28571429%, transparent 34.28571429%), linear-gradient(-45deg, transparent 33.142857143%, #000 33.142857143%, #000 34.28571429%, transparent 34.28571429%);
  background-size: 100px 100px;
  background-position: 0 0;
}
img.splash-screen, img.splash-portrait {
  display: block;
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: var(--row-gap-small);
  border: solid 1px #008F8CFF;
  -o-object-position: 50% top;
     object-position: 50% top;
}
img.splash-screen {
  max-height: 300px;
}
img.splash-portrait {
  max-height: 60vh;
}
img.splash-screen.max {
  max-height: 100vh;
}
/* Make the links black */
:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
}
/* Page layout */
main {
  opacity: 99%;
  padding: var(--row-gap-small);
  max-width: min(100% - var(--row-gap-small), 90em);
  min-height: 70vh;
  margin: 0 auto;
  background-color: var(--color-background);
}
/* Search tweak */
.search {
  margin-top: var(--row-gap-small);
}
