<!doctype html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>

    <meta name="supported-color-schemes" content="light dark">
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.rss" type="application/atom+xml" title="{{ metas.site }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ metas.site }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg">
    <link rel="canonical" href="{{ url |> url(true) }}">
    <script src="/js/main.js" type="module"></script>
    {{ it.extra_head?.join("\n") }}
  </head>
  <body class="min-h-screen w-full m-0 p-0 bg-background">
    <nav class="bg-white dark:bg-primary text-current dark:text-white flex flex-wrap mb-4 gap-2 p-2 items-center justify-between">
      <a href="/" class="min-w-[150px] p-1 flex border border-transparent bg-transparent no-underline hover:border-black/10 hover:bg-white/10">
        {{ if it.logo }}
          <img class="max-h-10 max-w-[40px] mr-2" src="/{{ it.logo }}" alt=""/>
        {{ /if }}
        <strong class="font-bold self-center">{{ metas.site }}</strong>
      </a>

      <div class="flex flex-auto"></div>

      <ul class="flex flex-wrap p-0 m-0 list-none items-center gap-x-4 font-semibold">
      {{- for entry of search.pages("menu.visible=true", "menu.order") }}
        <li>
          <a href="{{ entry.url }}"{{ if entry.url == url }} aria-current="page"{{ /if }}>
            {{ entry.menu.title || entry.title }}
          </a>
        </li>
      {{ /for }}
      {{- for link of it.menu_links }}
        <li>
          <a href="{{ link.href }}"{{ if link.target }} target="{{link.target}}"{{ /if }}>
            {{ link.text }}
          </a>
        </li>
      {{ /for }}
      <li>
        <script>
          let theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
          document.documentElement.dataset.theme = theme;
          function changeTheme() {
            theme = theme === "dark" ? "light" : "dark";
            localStorage.setItem("theme", theme);
            document.documentElement.dataset.theme = theme;
          }
        </script>
        <button class="button" onclick="changeTheme()">
          <span class="icon">◐</span>
        </button>
      </li>
      </ul>
    </nav>

    <main class="{{ it.bodyClass }} opacity-[99%] p-12 max-w-[90em] min-h-[70vh] mx-auto my-0 bg-background">
      {{ content }}
    </main>

    <!-- Current page: {{ url }} -->
  </body>
</html>
