---
layout: layouts/base.vto
bodyClass: body-tag
---
<article class="post" data-pagefind-body>
  <header class="mb-8">
    <h1 class="text-balance tracking-tight text-current text-6xl font-sans font-bold">{{ it.title }}</h1>

    {{ it.subtitle |> md }}
  </header>

  <div class="prose dark:prose-invert prose-sm sm:prose lg:prose-lg xl:prose-xl max-w-none">
    {{ content |> md }}
  </div>
</article>
